/* Règles pour le composant "Home". */
.banner {
    background: url("../assets/Banner_Home.png");
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 40px auto
}

.banner_bgr, .banner_txt {
    position: relative;
    left: 0;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 0 auto
}

.banner_bgr {
    top: 0;
    background: rgba(0, 0, 0, 0.3)
}

.banner_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -223px;
    background: transparent;
    color: white;
    font-size: 48px;
    text-align: center
}

.gallery {
    background: #E5E5E5;
    width: 1240px;
    text-align: center;
    border-radius: 25px;
    padding: 25px 0;
    margin: 0 auto 40px auto
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0 25px
}

.card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 340px;
    height: 340px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 25px
}

.card_photo {
    display: inline-block;
    width: auto;
    height: 340px
}

.card_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 250px;
    height: 52px;
    color: #FF6060;
    font-size: 18px;
    text-align: left;
    padding: 3px 5px;
    border: 1px #FF6060 solid;
    margin: 0
}

.card_bgr {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 340px;
    height: 340px;
    border-radius: 10px
}
.card_bgr:hover {
    background: rgba(0, 0, 0, 0.5)
}