/* Media queries */
@media (max-width: 1360px) {
    .header, .banner, .gallery, .banner_apropos, .gallery_logement, .main_infos, .descr_equip {
        width: 90%
    }
    
    .gallery_arrows_div {
        width: 86%
    }

    .banner, .banner_apropos, .gallery_logement {
        background-position: center
    }

    .banner_bgr, .banner_txt, .banner_bgr_apropos, .gallery_picture {
        width: 100%
    }
}

@media (max-width: 1330px) {
    .menu_descr, .menu_equip {
        width: 49%
    }

    .titre_descrequip, .texte_descrequip, .texte_descrequip_open {
        width: 100%
    }
}

@media (max-width: 1137px) {
    .divs_apropos {
        align-items: center;
        width: 90%
    }

    .titre_apropos, .texte_apropos, .texte_apropos_open {
        width: 100%
    }

    .titre_apropos {
        margin: 20px 0 0 0
    }

    .texte_apropos, .texte_apropos_open {
        margin: 0
    }
}

@media (max-width: 920px) {
    .main_infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto
    }

    .logement_titre {
        font-size: 30px
    }

    .logement_lieu {
        font-size: 17px
    }

    .logement_tags {
        margin-top: 10px
    }

    .tag {
        font-size: 13px
    }

    .infos_right {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between
    }

    .starDiv {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 200px
    }

    .title_404 {
        font-size: 224px
    }

    .phrase_404 {
        font-size: 30px
    }
}

@media (max-width: 840px) {
    .banner_txt {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px
    }
}

@media (max-width: 800px) {
    .gallery_arrows_div {
        top: -147px
    }

    .gallery_arrows {
        height: 40px
    }

    .gallery_numero {
        top: -7px
    }
    
    .logement_titre {
        font-size: 24px
    }

    .logement_lieu {
        font-size: 16px
    }

    .tag {
        font-size: 12px
    }

    .star {
        height: 22px;
        margin: 0 8px 0 0
    }

    .propri_nom {
        width: 77px;
        font-size: 15px
    }

    .propri_img {
        height: 48px
    }

    .title_404 {
        font-size: 160px
    }

    .phrase_404 {
        font-size: 24px
    }
}

@media (max-width: 778px) {
    .descr_equip {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        margin: 10px auto 0 auto
    }

    .menu_descr, .menu_equip {
        width: 100%;
        min-width: 335px
    }

    #texte_description {
        margin-bottom: 0
    }
}

@media (max-width: 690px) {
    .gallery_logement {
        height: 335px;
        border-radius: 20px
    }

    .gallery_arrows_div {
        top: -107px
    }
}

@media (max-width: 610px) {
    .logement_titre {
        font-size: 18px
    }

    .logement_lieu {
        font-size: 14px
    }

    .tag {
        font-size: 10px;
        padding: 2px 10px;
        border-radius: 5px;
    }

    .title_404 {
        font-size: 96px;
        margin-top: 180px
    }

    .phrase_404 {
        font-size: 18px;
        width: 80%;
        margin: 0 auto
    }

    .link_404 {
        font-size: 14px
    }
}

@media (max-width: 600px) {
    .logo {
        width: 145px;
        height: 47px
    }

    .link_accueil, .link_apropos {
        color: #FF6060;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0
    }
    .link_accueil {
        margin-right: 5px
    }
    .link_apropos {
        margin-left: 5px
    }

    .banner, .banner_bgr, .banner_txt {
        height: 111px;
        border-radius: 10px
    }

    .banner_apropos, .banner_bgr_apropos {
        background: url("../assets/Banner_Apropos_mobile.png");
        background-size: 100%;
        border-radius: 10px
    }

    .banner_txt {
        top: -111px;
        font-size: 24px;
        padding-left: 16px
    }

    .gallery {
        background: white;
        width: 335px;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto 40px auto
    }

    .card {
        width: 335px;
        height: 255px;
        border-radius: 10px;
        margin: 0 auto 20px auto
    }

    .card_title {
        margin: 188px auto 15px auto
    }

    .titre_apropos, .titre_descrequip {
        font-size: 13px
    }

    .titre_nom {
        margin-left: 10px
    }
    
    .titre_fleches {
        margin-right: 10px
    }

    .arrowImg {
        height: 9px
    }

    .texte_apropos, .texte_apropos_open, .texte_descrequip, .texte_descrequip_open {
        font-size: 12px
    }

    .text_content, .text_content_descrequip, .liste_descrequip {
        margin: 4px 10px 0 10px
    }

    .gallery_arrows_div {
        top: -97px
    }

    .gallery_arrows {
        height: 20px
    }

    .gallery_numero {
        top: 13px
    }

    .logement_titre {
        margin-top: 30px
    }

    .layout_footer {
        font-size: 12px
    }
}

@media (max-width: 556px) {
    .gallery_logement {
        height: 255px;
        border: 1px #FF6060 solid;
        border-radius: 10px
    }

    .gallery_arrows_div {
        top: -57px
    }

    .gallery_numero {
        top: 33px
    }

    .star {
        height: 15px;
        margin: 0 5px 0 0
    }

    .propri_nom {
        width: 62px;
        font-size: 12px
    }

    .propri_img {
        height: 32px
    }
}

@media (max-width: 390px) {
    .gallery_numero {
        top: 13px
    }
}

@media (max-width: 375px) {
    .link_404_parag {
        margin: 130px 0 15px 0
    }
}