/* Règles pour le composant "Layout". */
.layout_main {
    position: relative;
    min-height: 100%
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    margin: 30px auto
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    font-size: 24px
}

.link_accueil, .link_apropos {
    color: #FF6060;
    padding: 0 5px
}
.link_accueil {
    margin-right: 30px;
}
.link_apropos {
    margin-left: 30px;
}

.layout_footer {
    position: relative;
    bottom: 0;
    left: 0;
    background: black;
    height: 209px;
    width: 100%;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 0
}

.footer-logo {
    margin-top: 80px
}

/* Règles pour le composant "Home". */
.banner {
    background: url("./assets/Banner_Home.png");
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 40px auto
}

.banner_bgr, .banner_txt {
    position: relative;
    left: 0;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 0 auto
}

.banner_bgr {
    top: 0;
    background: rgba(0, 0, 0, 0.3)
}

.banner_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -223px;
    background: transparent;
    color: white;
    font-size: 48px;
    text-align: center
}

.gallery {
    background: #E5E5E5;
    width: 1240px;
    text-align: center;
    border-radius: 25px;
    padding: 25px 0;
    margin: 0 auto 40px auto
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0 25px
}

.card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 340px;
    height: 340px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 25px
}

.card_photo {
    display: inline-block;
    width: auto;
    height: 340px
}

.card_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 250px;
    height: 52px;
    color: #FF6060;
    font-size: 18px;
    text-align: left;
    padding: 3px 5px;
    border: 1px #FF6060 solid;
    margin: 0
}

.card_bgr {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}
.card_bgr:hover {
    background: rgba(0, 0, 0, 0.5)
}

/* Règles pour le composant "Logement" . */
.tag {
    background: goldenrod
}

/* Règles pour le composant "Apropos". */
.banner_apropos {
    background: url("./assets/Banner_Apropos.png");
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 40px auto
}

.banner_bgr_apropos {
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 0 auto
}

.divs_apropos {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 40px auto
}

.titre_apropos {
    display: flex;
    justify-content: space-between;
    background: #FF6060;
    width: 1023px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding: 5px 0;
    border-radius: 5px;
    margin: 20px auto 0 auto
}
.titre_apropos:hover {
    cursor: pointer;
    background: #FF4040
}

.titre_nom {
    margin-left: 20px
}

.titre_fleches {
    margin-right: 20px
}

.downarrow_no {
    display: none
}

.uparrow {
    display: none
}

.uparrow_yes {
    display: block
}

.texte_apropos {
    background: white;
    width: 1023px;
    max-height: 0;
    overflow: hidden;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    padding: 5px 0;
    border-radius: 5px;
    margin: 0 auto;

    transition: background 1s, max-height 1s;
}

.texte_apropos_open {
    background: #F7F7F7;
    width: 1023px;
    max-height: 150px;
    overflow: hidden;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    padding: 5px 0;
    border-radius: 5px;
    margin: 0 auto
}

.text_content {
    margin: 0 20px
}

/* Règles pour le composant "Page404". */
.text_404 {
    color: #FF6060;
    text-align: center;
}

.title_404 {
    font-size: 288px;
    font-weight: bold;
    padding: 0;
    margin: 0
}

.phrase_404 {
    font-size: 36px;
    font-weight: 500;
    padding: 0;
    margin: 0
}

.link_404_parag {
    padding: 0;
    margin: 140px 0 100px 0
}

.link_404 {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500
}

/* MEDIA QUERIES */
@media (max-width: 1360px) {
    .header, .banner, .gallery, .banner_apropos {
        width: 90%
    }

    .banner, .banner_apropos {
        background-position: center;
    }

    .banner_bgr, .banner_txt, .banner_bgr_apropos {
        width: 100%
    }
}

@media (max-width: 1137px) {
    .divs_apropos {
        align-items: center;
        width: 90%
    }

    .titre_apropos, .texte_apropos, .texte_apropos_open {
        width: 100%
    }

    .titre_apropos {
        margin: 20px 0 0 0
    }

    .texte_apropos, .texte_apropos_open {
        margin: 0
    }
}

@media (max-width: 920px) {
    .title_404 {
        font-size: 224px
    }

    .phrase_404 {
        font-size: 30px
    }
}

@media (max-width: 840px) {
    .banner_txt {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px
    }
}

@media (max-width: 800px) {
    .title_404 {
        font-size: 160px
    }

    .phrase_404 {
        font-size: 24px
    }
}

@media (max-width: 610px) {
    .title_404 {
        font-size: 96px;
        margin-top: 180px
    }

    .phrase_404 {
        font-size: 18px;
        width: 80%;
        margin: 0 auto
    }

    .link_404 {
        font-size: 14px
    }
}

@media (max-width: 600px) {
    .logo {
        width: 145px;
        height: 47px
    }

    .link_accueil, .link_apropos {
        color: #FF6060;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0
    }
    .link_accueil {
        margin-right: 5px;
    }
    .link_apropos {
        margin-left: 5px;
    }

    .banner, .banner_bgr, .banner_txt {
        height: 111px;
        border-radius: 10px
    }

    .banner_apropos, .banner_bgr_apropos {
        background: url("./assets/Banner_Apropos_mobile.png");
        background-size: 100%;
        border-radius: 10px
    }

    .banner_txt {
        top: -111px;
        font-size: 24px;
        padding-left: 16px
    }

    .gallery {
        background: white;
        width: 335px;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto 40px auto
    }

    .card {
        width: 335px;
        height: 255px;
        border-radius: 10px;
        margin: 0 auto 20px auto
    }

    .card_title {
        margin: 188px auto 15px auto
    }

    .titre_apropos {
        font-size: 13px;
    }

    .titre_nom {
        margin-left: 10px
    }
    
    .titre_fleches {
        margin-right: 10px
    }

    .arrowImg {
        height: 9px
    }

    .texte_apropos, .texte_apropos_open {
        font-size: 12px;
    }

    .text_content {
        margin: 4px 10px 0 10px
    }

    .layout_footer {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .link_404_parag {
        margin: 130px 0 15px 0
    }
}