/* Règles pour le composant "Layout". */
.layout_main {
    position: relative;
    min-height: 100%
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    margin: 30px auto
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    font-size: 24px
}

.link_accueil, .link_apropos {
    color: #FF6060;
    padding: 0 5px
}
.link_accueil {
    margin-right: 30px;
}
.link_apropos {
    margin-left: 30px;
}

.layout_footer {
    position: static;
    bottom: 0;
    background: black;
    height: 209px;
    width: 100%;
    color: white;
    font-size: 24px;
    text-align: center
}

.footer-logo {
    margin-top: 80px
}

/* Règles pour le composant "Home". */
.banner {
    background: url("./assets/Banner_Home.png");
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 40px auto
}

.banner_bgr, .banner_txt {
    position: relative;
    left: 0;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 0 auto
}

.banner_bgr {
    top: 0;
    background: rgba(0, 0, 0, 0.3)
}

.banner_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -223px;
    background: transparent;
    color: white;
    font-size: 48px;
    text-align: center
}

.gallery {
    background: #E5E5E5;
    width: 1240px;
    height: 500px;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto 40px auto
}

.card {
    display: inline-block;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 100%), #FF6060;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: 50px auto
}

.card_title {
    background: transparent;
    width: 300px;
    height: 52px;
    color: white;
    font-size: 18px;
    text-align: left;
    margin: 268px 20px 20px 20px
}

/* Règles pour d'autres composants. */
.tag {
    background: goldenrod
}

/* Règles de test à supprimer plus tard. */
.test {
    height: 50px;
    border: 2px green solid;
    margin-bottom: 10px
}

.test2 {
    border: 1px red solid
}

/* MEDIA QUERIES */
@media (max-width: 1360px) {
    .header, .banner, .gallery {
        width: 90%
    }

    .banner {
        background-position: center;
    }

    .banner_bgr, .banner_txt {
        width: 100%
    }
}

@media (max-width: 720px) {
    .banner_txt {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px
    }
}

@media (max-width: 600px) {
    .logo {
        width: 145px;
        height: 47px
    }

    .link_accueil, .link_apropos {
        color: #FF6060;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0
    }
    .link_accueil {
        margin-right: 5px;
    }
    .link_apropos {
        margin-left: 5px;
    }

    .banner, .banner_bgr, .banner_txt {
        height: 111px;
        border-radius: 10px
    }

    .banner_txt {
        top: -111px;
        font-size: 24px;
        padding-left: 16px
    }

    .gallery {
        background: white;
        width: 335px;
        height: 500px;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto 40px auto
    }

    .card {
        width: 335px;
        height: 255px;
        border-radius: 10px;
        margin: 0 auto 20px auto
    }

    .card_title {
        margin: 188px auto 15px auto
    }

    .layout_footer {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .link_accueil, .link_apropos {
        color: green
    }
}